.subtitle {
    font-size: 18px;
    padding-bottom: 10px;
    color: #4B0082;
    text-align: center;
}

.post-title {
    color: #FF69B4;
}

.description {
    padding: 0 10px;
	text-align:center;
}

.description p {
    font-size: 16px;
    text-align: center;
    padding-bottom: 10px;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}


/* стили основного контейнера слайдера */

.slider {
    position: relative;
    overflow: hidden;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
}


/* стили для обёртки, в которой заключены слайды */

.slider__wrapper {
    position: relative;
    overflow: hidden;
}


/* стили для контейнера слайдов */

.slider__items {
    display: flex;
    transition: transform 0.6s ease;
}


/* стили для слайдов */

.slider__item {
    flex: 0 0 100%;
    max-width: 100%;
}


/* стили для кнопок "вперед" и "назад" */

.slider__control {
    position: absolute;
    top: 50%;
    display: none;
    align-items: center;
    justify-content: center;
    width: 40px;
    color: #fff;
    text-align: center;
    opacity: 0.5;
    height: 50px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
}

.slider__control_show {
    display: flex;
}

.slider__control:hover,
.slider__control:focus {
    color: #fff;
    text-decoration: none;
    outline: 0;
    opacity: 0.9;
}

.slider__control_prev {
    left: 0;
}

.slider__control_next {
    right: 0;
}

.slider__control::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.slider__control_prev::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.slider__control_next::before {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}


/* стили для индикаторов */



.slider__indicators {
    position: absolute;
    right: 0;
    bottom: 10px;
    left: 0;
    z-index: 15;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-right: 15%;
    margin-left: 15%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
}

.slider__indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 30px;
    height: 4px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

.slider__indicators li.active {
    background-color: #fff;
}

img {
    display: inline-block;
    height: auto;
    max-width: 100%;
}

.slider__item_1 {
background: linear-gradient(to right, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.slider__item_2 {
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.slider__item_3 {

background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.slider__item_4 {

background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.slider__item_5 {
  
background: linear-gradient(to right, #C6426E, #642B73); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



.slider__item {
    height: 420px;
    overflow: hidden;
    position: relative;
}

.slider__item_inner {
    position: absolute;
    left: 8%;
    right: 8%;
    top: 36px;
    bottom: 36px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slider__item_img {
    flex: 0 0 100px;
    max-width: 100px;
}

.slider__item_testimonial {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.slider__item_name {
    font-size: 18px;
    margin-bottom: 5px;
    color: white;
}

.slider__item_post {
    font-size: 14px;
    margin-bottom: 8px;
    color: rgba(255, 255, 255, 0.8);
    display: none;
}

.slider__item_text {
    font-size: 18px;
    color: white;
    margin-bottom: 5px;
    display: none;
	line-height: 22px;
}

@media (min-width: 576px) {
    .slider__item {
        height: 420px;
    }
    .slider__item_inner {
        flex-direction: row;
    }
    .slider__item_testimonial {
        margin-left: 15px;
    }
    .slider__item_img {
        flex: 0 0 150px;
        max-width: 150px;
        height: 200px;
    }
    .slider__item_testimonial {
        text-align: left;
    }
    .slider__item_post,
    .slider__item_text {
        display: block;
    }
}

.btn {
    margin-top: 10px;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
	border-radius: 15px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.dwnld{
	
	 margin-top: 10px;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
	border-radius: 15px;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #fff;
    background-color: rgba(50, 205, 50, 0.7);
    text-decoration: none;
	
}

.dwnld:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .5);
}


.btn:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, .5);
}

.slider__item_post a {
    color: white;
    text-decoration: underline;
}


.slider__item_text a {
	
	color: yellow;
	text-decoration:underline;
	
}

.slider__item_text a:hover {
	
	color: gold;
	text-decoration:underline;
	
}




/* свойства модального окна по умолчанию */
.modal {
    position: fixed; /* фиксированное положение */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5); /* цвет фона */
    z-index: 1050;
    opacity: 0; /* по умолчанию модальное окно прозрачно */
    -webkit-transition: opacity 200ms ease-in; 
    -moz-transition: opacity 200ms ease-in;
    transition: opacity 200ms ease-in; /* анимация перехода */
    pointer-events: none; /* элемент невидим для событий мыши */
    margin: 0;
    padding: 0;
}
/* при отображении модального окно */
.modal:target {
    opacity: 1; /* делаем окно видимым */
	  pointer-events: auto; /* элемент видим для событий мыши */
    overflow-y: auto; /* добавляем прокрутку по y, когда элемент не помещается на страницу */
}
/* ширина модального окна и его отступы от экрана */
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
@media (min-width: 576px) {
  .modal-dialog {
      max-width: 850px;
      margin: 30px auto; /* для отображения модального окна по центру */
  }
}
/* свойства для блока, содержащего контент модального окна */ 
.modal-content {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}
@media (min-width: 768px) {
  .modal-content {
      -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
      box-shadow: 0 5px 15px rgba(0,0,0,.5);
  }
}
/* свойства для заголовка модального окна */
.modal-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 1px solid #eceeef;
}
.modal-title {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.5;
    font-size: 1.25rem;
    font-weight: 500;
}
/* свойства для кнопки "Закрыть" */
.close {
    float: right;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
    text-decoration: none;
}
/* свойства для кнопки "Закрыть" при нахождении её в фокусе или наведении */
.close:focus, .close:hover {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: .75;
}
/* свойства для блока, содержащего основное содержимое окна */
.modal-body {
  position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 15px;
    overflow: auto;
}

.modal-body a {
	
	color:green;
	text-decoration:underline;
	
}

.modal-body a:hover {
	
	color:orange;
	text-decoration:underline;
	
}


.popbtn{
	margin: 0 auto;
	min-width:250px;
	text-align:center;
	display: inline-block;
    text-decoration: none;
    margin-bottom: 8px;
    border-radius: 5px;
    padding: 8px 10px;
    background: linear-gradient(to right, #0000ff 0%, #ff5050 100%);
    color: white !important;
}

.popbtn:hover {
	
	background: #4169E1;
	
	
}

.activeLetter {
	
	font-weight:bold;
	color: #DC143C;
	
}

.activeLetter:hover{
	
	color:#008B8B;
	
}
